<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!-- mogla bi i tacka verovatno u device name za oznaci lokalnu masinu, integrated seq da se logujemo pomocu domenskog windows naloga-->
    <add name="Platforme" connectionString="Data Source=DESKTOP-R6CEOJH\SQLEXPRESS;Initial Catalog=Platforme;Integrated Security=True;"/>
  </connectionStrings>
</configuration>